@media only screen and (max-width:700px){
    .firstsec{
        align-items: center;
    }
   .nav-bar{
    justify-content: space-between;
    /* padding: 50px; */
   } 

   nav{
    display: none;
   }
   .harmburger{
    display: block;
   }
   .nav-bar .logo{
    margin: 0;
    width: 50px;
   }
   .write-up {
    text-align: center;
}

.write-up h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
    display: block;
}









}