*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}


body{
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
}

.firstsec {
    width: 100%;
    height: 700px;
    background-image: url(./assets/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(356, 100%, 66%);
    border-bottom-left-radius: 70px;
    text-align: center;
    overflow-x: hidden;
}

.nav-bar {
    padding: 50px 50px;
    display: flex;
    align-items: center;
}

.nav-bar img{
    margin-left: 100px;
}

nav{
    flex: 1;
}

.nav-link, .nav-link2{
    display: flex;
    margin-right: -30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}



.drop-down-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-down-content a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 10px;
}

.drop-down:hover .drop-down-content{
    display: block;
}
.harmburger{
    display: none;
}

#sign, #start{
    border-radius: 30px;
    background-color: white;
    color: hsl(356, 100%, 66%);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.write-up{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.write-up h2{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}
.write-up p{
    color: white;
    margin-bottom: 50px;
    font-size: 20px;
}

#learn{
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
}

.future{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.circle-img{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(300px);
    z-index: -1;
    opacity: 0.5;

}
.writeup{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 100px;
    width: 100%;
}

.writeup .fut-cont h2{
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.inner-cont h3{
    margin-bottom: 30px;
    font-size: 25px;
}
.inner-cont p{
    margin-bottom: 70px;
    line-height: 1.5;
    font-size: 20px;
}

.inner-cont2 h3{
    margin-bottom: 30px;
    font-size: 25px;
}

.inner-cont2 p{
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 200px;
}

.last-img{
    position: absolute;
    transform: translateX(300px);
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-bottom: 200px;
}

.mobile{
    display: none;
}
.bluebox{
    width: 100%;
    height: 400px;
    background-color: hsl(237, 17%, 21%);
    background-image: url(./assets/bg-pattern-circles.svg);
    background-size: 80%;
    background-position: 10% 45%;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    margin-bottom: 200px;
    justify-content: space-around;
}

.ph-img{
    position: absolute;
    top: -70px;
    bottom: 0px;
    left: 50px;

}

.bluebox-cont{
    position: absolute;
    bottom: 100px;
    left: 1200px;
}

.bluebox-cont h2{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.bluebox-cont p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
}

.lap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}

.laptop img{
    width: 1300px;
    transform: translateX(-600px);
}

.lap-cont{
    margin-left: -500px;
}

.lap-cont1 h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.lap-cont1 p{
    font-size: 20px;
    margin-bottom: 100px;
    line-height: 1.5;
}

.lap-cont2 h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.lap-cont2 p{
    font-size: 20px;
    line-height: 1.5;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer li{
    list-style: none;
    margin-bottom: 10px;
}

.footer h4{
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}
.footer h1{
    color: white;
    margin-top: -150px;
    font-size: 30px;
}

.footer a:hover{
    text-decoration: underline;
}